* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #141414;
}

/******************************************* HEADER *******************************************/
body {
  background: rgb(248, 248, 255);
}

#inicio {
  background: white;
}

#header,
#juguetes,
#farmacia,
#contacto {
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: 0% 50%;
}

#gradiente {
  background: #373b44;
  background: -webkit-linear-gradient(to right, #4286f4, #373b44);

  background: linear-gradient(
    to right,
    hsla(217, 89%, 61%, 0.4),
    hsla(222, 11%, 24%, 0.4)
  );
  height: 100vh;
}

#header {
  background-image: url(../imagenes/fondo.jpg);
}

#juguetes {
  background-image: url(../imagenes/juguetes.jpg);
}

#farmacia {
  background-image: url(../imagenes/farmacia.jpg);
}

#contacto {
  background-image: url(../imagenes/contacto.jpg);
}

h1 {
  color: white;
  font-size: 8vh;
  text-align: center;
  padding-top: 3vh;
}

img {
  width: 8vw;
}

#logoYnav {
  display: flex;
  justify-content: space-between;
  padding: 1vh 8vw;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: none;
}

a {
  color: white;
  font-size: 1.4vw;
  text-decoration: none;
  margin: 1vw;
}
h3 {
  text-align: center;
  font-size: 4vw;
}

/* BOTON */
button {
  border-radius: 50px;
  padding: 1vw;
  border-style: none;
  background: rgb(206, 71, 96);
  width: 15vw;
  height: 10vh;
  font-size: 1.5vw;
}

button:hover {
  background: rgb(255, 81, 113);
}

#boton {
  display: flex;
  justify-content: center;
  padding-top: 4vh;
}

/* ANIMACION MOUSE */
.middle {
  margin-top: 33vh;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle img {
  width: 35px;
}

.mouse {
  width: 85px;
  height: 125px;
  border: 4px solid white;
  border-radius: 50px;
}

.mouse::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  background: white;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  animation: mouse 2s infinite;
}

@keyframes mouse {
  from {
    opacity: 1;
    top: 30px;
  }

  to {
    opacity: 0;
    top: 110px;
  }
}

.ola {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/******************************************* SECTION *******************************************/
/************* INDEX *************/
/* NUESTRA HISTORIA */

span {
  font-weight: 600;
}

.contenedorHistoria {
  padding: 20px 0 60px 0;
  display: flex;
  justify-content: center;
}

.contenedorHistoria img {
  width: 45%;
}

#historia {
  width: 30%;
  font-size: 18px;
  padding-top: 18px;
}

#historia p {
  margin-top: 2vh;
}

/* MAPA */
#mapa {
  display: flex;
  justify-content: center;
  padding: 5vh 0;
}

iframe {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.486);
  border: none;
  width: 45vw;
}

h2 {
  font-size: 4em;
  font-weight: 500;
  text-align: center;
}

#donde {
  margin-top: 2vh;
}

#seccionMapa {
  background: #f2f2f2;
}

.titulos img {
  width: 4vw;
}

/* LLAMADA */
#llamada {
  display: flex;
  padding: 40px;
  font-size: 40px;
  font-weight: 600;
  background-color: #1b2458;
  align-items: center;
  justify-content: center;
}

#llamada img {
  width: 4vw;
  margin-right: 2vw;
}

#llamada p {
  color: white;
}

/************* CONTACTO *************/
.infoContacto {
  display: flex;
  align-items: center;
  margin: 3vh 0;
}

.infoContacto p {
  margin-left: 1vw;
}
#divContacto {
  display: flex;
  justify-content: center;
  margin: 6vh 0;
}

#mascota {
  display: flex;
  margin-bottom: 2vh;
  align-items: center;
}

#mascota label {
  margin: 0 0.5vw;
}

.tamaño input,
textarea {
  width: 30vw;
  height: 5vh;
  margin-bottom: 2vh;
  background: rgba(206, 71, 96, 0.103);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.486);
  border: none;
  background: white;
}

#cambio button {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.486);
}
textarea {
  resize: none;
}
.tamaño textarea {
  height: 20vh;
  background-color: white;
}

#divContacto button {
  width: 100%;
  height: auto;
}

#divContacto img {
  width: 2vw;
}

#pata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: none;
}

#pata img {
  width: 15vw;
}

#cambio {
  border: 4px solid #619eff;
  background: #d2e4ff;
  padding: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  width: 30vw;
}

#cambio img {
  width: 5vw;
  padding-bottom: 2vh;
  display: flex;
  margin: auto;
}

::placeholder,
textarea,
input {
  color: #4d4d4d;
  padding: 3px 0px 3px 5px;
}

.infoContacto img {
  width: 3vw;
}

#data {
  display: flex;
  flex-direction: column;
  width: 25vw;
}

#servicios {
  display: flex;
  justify-content: space-evenly;
  margin: 2vh 0 6vh;
}

.servicios {
  border: 1px solid #141414;
  border-radius: 10px;
  padding: 2vw;
  text-align: center;
  width: 10vw;
  height: 20vh;
  font-weight: 600;
}
#redesContacto a,
#redes img {
  margin-left: 0;
  margin-right: 2vw;
}
#data {
  width: 30vw;
}
/************* JUGUETERIA Y FARMACIA *************/
/* CARDS */
.contenedor {
  width: 100%;
  max-width: 1200px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20vh;
}

.contenedor .card {
  width: 330px;
  height: 450px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  margin: 8vh 2vw;
  transition: all 0.25s;
  text-align: center;
  padding: 6vh 2vw;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.527);
}

.contenedor .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.4);
}

.contenedor .card img {
  width: 250px;
  height: 250px;
  text-align: center;
}

.contenedor .card h4 {
  font-weight: 300;
  font-size: 1em;
  text-align: left;
}

.contenedor .card p {
  padding: 2px;
  font-size: 0.5em;
  font-weight: 300;
  text-align: left;
}

.contenedor .card a {
  font-weight: 400;
  text-decoration: none;
  color: white;
}

.listaProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#envio {
  color: green;
  font-weight: 300;
  font-size: 1em;
  text-align: left;
}

#stock {
  display: inline-block;
  background: #cf3131;
  font-size: 16px;
  padding: 4px 8px;
  text-align: left;
  border-radius: 5px;
  text-align: left;
  margin: 5px;
  color: white;
  font-weight: 700;
}

#precio {
  font-size: 24px;
  padding: 0;
  text-align: left;
  font-weight: 500;
}

#descripcion {
  font-size: 0.9em;
  text-align: left;
}
#nombreCompra {
  font-weight: 600;
}

li {
  list-style: none;
}

#linea {
  border-top: 1px solid #8080801a;
  padding-top: 0px;
}

/******************************************* FOOTER *******************************************/
footer {
  background-color: #1b2458;
  margin-top: 15vh;
}

#footer {
  padding: 4vw;
  display: flex;
  justify-content: space-between;
}

footer img {
  width: 8vw;
}

footer #redes img {
  width: 3vw;
}

#links div {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
}

hr {
  border: 1px solid #ffffff7c;
}

footer p {
  color: white;
  text-align: center;
  padding: 2vw;
}
